<h1 class="word title is-1 has-text-centered"><%= @view_model.resource.title %></h1>

<p class="quiz-description subtitle is-5">
  ¿Cúal es el hiragana de la palabra?
</p>

<%= form_with(model: @view_model, url: @view_model.form_path, local: true, method: :put) do |f| %>
  <div class="field has-addons">
    <div class="control is-expanded">
      <%= f.text_field :answer, autofocus: true, autocomplete: 'off', class: @view_model.resource.kana_input_class %>
    </div>

    <div class="control">
      <%= f.submit 'Submit', class: 'button is-info' %>
    </div>
  </div>
<% end %>
