
<div class="container home">
  <h1>Machetito.com</h1>
  <h2>
    <P>machetito is an app to help you practice and learn Japanese words. Quizzes will help you to write the correct word, hiragana, katakana or meaning.</p>
  </h2>
</div>

<a class="button is-rounded is-large" href="#about">
  <strong>About</strong>
</a>

<section class="section">
  <div>
    <img class='image-menu' src="https://www.thetrainline.com/cmsmedia/cms/7709/japan_2x.jpg">
  </div>
</section>

<div class='line-home'>
</div>

<section id="about" class="section about">
  <div class="container">
    <h1 class="title has-text-centered">ABOUT</h1>
    <div class="column">
      <h2 class="subtitle">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container" >
    <div class="images-section">
      <div class="column">
        <figure class="image is-5by4">
        <img src="https://i.pinimg.com/originals/5d/9e/4d/5d9e4d17bca9d2db4431b064d1cc7a8d.jpg">
        </figure>
      </div>
      <div class="column">
        <figure class="image is-5by4">
        <img src="http://www.worldsultimateexperiences.com/wp-content/uploads/2018/07/shutterstock_550609591.jpg">
        </figure>
      </div>
      <div class="column">
        <figure class="image is-5by4">
          <img src="https://content.fortune.com/wp-content/uploads/2019/07/GettyImages-660010808.jpg?w=1024">
        </figure>
      </div>
      <div class="column">
        <figure class="image is-5by4">
          <img src="https://www.thewanderinglens.com/wp-content/uploads/2018/12/HEADER-Tokyo-Photography-Locations-A-Photographers-Guide-to-Photo-Spots-in-Tokyo.jpg">
        </figure>
      </div>
    </div>
  <div>
</section>
