.navbar {
  box-shadow: 0 2px 0 0 #f5f5f5;
  background-color: rgba(0, 0, 0, 0.9);
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar-brand {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar-item {
  color: white;
  &:hover {
    color: $japan-pink;
    background-color: rgba(0, 0, 0, 0.9);
  }
}

.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
  color: $japan-pink;
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar-item.has-dropdown.is-hoverable {
  .navbar-link {
    color: $japan-pink;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .navbar-dropdown{
    background-color: rgba(0, 0, 0, 1);
    .navbar-item {
      &:hover {
        color: $japan-pink;
        background-color: rgba(0, 0, 0, 1);
      }
    }
  }
}

#navbarBasicExample {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar-brand{
  a {
    span{
      background-color: $japan-pink;
    }
  }
}

.main-title {
  color: $japan-pink;
}