$black: #000;
$blue: #1e1eb9;
$darkblue: #15162f;
$danger: #ff3860;
$gray: #c7c7ec;
$gray-light: #ededed;
$grey-darker: #363636;
$grey-dark: #4a4a4a;
$grey: #7a7a7a;
$grey-light: #b5b5b5;
$grey-lighter: #dbdbdb;
$green: #528852;
$info: #2f7799;
$japan-pink: #FFB7C5;
$light-blue: #292c52;
$light-gray: #ccc;
$orange: #ea8c06;
$red: #e8363a;
$warning: #ffd557;
$white: #fff;
$whitesmoke: #f5f5f5;
$strong-red: #cc0505;
$success: #23d160;
$yellow: #f9d026;
$error: #f26573;
$danger: $error;
$bulma-danger: #ff3860;
$black-opacity-19-percent: rgba(0, 0, 0, 0.19);
$black-opacity-20-percent: rgba(0, 0, 0, 0.2);
$black-opacity-side: 0 3px 5px rgba(0, 0, 0, 0.1);
$black-opacity-hover: rgba($color: $black, $alpha: 0.6);
$black-opacity-1-percent: rgba(0, 0, 0, 0.1);
$black-opacity-9-percent: rgba(0, 0, 0, 0.9);


$container-padding: 10% 0;
$regular-padding: 15px;
$regular-margin: 15px;

$primary-icon-size: 20px;
$secondary-icon-size: 15px;

$border-radius: 6px;
